* {
	margin: 0;
	padding: 0;
}
body {
	background-color: #202020;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
header {
	text-align: center;
	font-size: 2em;
	color: white;
	text-align: center;
	padding-top: 40px;
	text-shadow: 0 0 5px rgba(150, 150, 231, 1), 0 0 15px rgba(150, 150, 231, 1),
		0 0 20px rgba(150, 150, 231, 1), 0 0 40px rgba(150, 150, 231, 1);
	animation: 2s linear 0s infinite alternate shining;
}
@keyframes shining {
	0% {
		text-shadow: 0 0 5px rgba(150, 150, 231, 1), 0 0 15px rgba(150, 150, 231, 1),
			0 0 20px rgba(150, 150, 231, 1), 0 0 40px rgba(150, 150, 231, 1);
	}
	100% {
		text-shadow: none;
	}
}
.box {
	margin: 0 auto;
	display: block;
	transition: 0.2s all ease-in-out;
	margin-top: 150px !important;
}
.menu {
	width: 500px;
	height: 200px;
}
.option {
	width: 150px;
	height: 25px;
	padding-top: 5px;
	margin: 50px auto;
	text-align: center;
	cursor: pointer;
	color: white;
	transition: 0.1s;
	transition-property: border-bottom;
	border-bottom: 1px solid transparent;	
}
.option:hover {
	border-bottom: 1px solid rgb(39, 158, 39) ;
}
.hangman {
	position: absolute;
	margin: 0 auto;
	padding-left: 70%;
	z-index: -1;

}
.options {
	width: 700px;
	height: 300px;
	padding-top: 25px;
	text-align: center;
	color: rgb(235, 235, 235);
}
.game {
	width: 700px;
	height: 300px;
	padding-top: 25px;
	text-align: center;
	color: rgb(235, 235, 235);
}
.disabled {
	display: none;
}
