<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="hangman but in multiplayer!">
    <meta name="keywords" content="hangman, multiplayer, 2d game, fun, gra, wieloosobowa, minigra, wisielec, game">
    <meta name="author" content="xAxee#4835, owr#6062, Masło#2844">

    <title><%= title %></title>

    <!-- css -->
    <link rel="stylesheet" href="css/theme/dark.css">
    <link rel="stylesheet" href="css/theme/light.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/switch.css">
    <link rel="stylesheet" href="css/about.css">
    <link rel="stylesheet" href="css/game.css">
    <link rel="stylesheet" href="css/cookies.css">
</head>
<body>
    
        <!-- accept cookies -->
        <div class="popup_cookies">
            <div class="cookies-menu">
                <span class='cookies-text'>
                    This site use cookies to store player data.
                </span>
                <span class='cookies-accept' onclick="acceptCookies()">
                    OK
                </span>
            </div>
        </div> 

    <container class='loading-screen'>
       <div class='dot'></div>
       <div class='dot'></div>
       <div class='dot'></div>
       <div style="clear:both;"></div>
    </container>
    <img class='hangman' src="img/wisielec-dark.gif" alt="" >
    <header id="hangman" onclick="window.location.href = '/'">Hangman</header>
    <container class="menu box" style='text-align:Center;'>
        <label for='setUsername' class='label-nick'>Your username:</label>
        <br/><br/>
        <input type="text" id="setUsername" class='input-nick' maxlength="25" placeholder="type your nick here" value="Player"/>
        <br/><br/>
        <div class="main-option option toggleGame"><i class="fas fa-play"></i> Play</div>
        <div class="main-option option toggleSettings"><i class="fas fa-cog"></i> Settings</div>
        <div class="main-option option toggleAbout"><i class="fas fa-user"></i> About</div>
    </container>
    <!-- SETTINGS -->
    <container class="options box disabled">
        <h3><i class="fas fa-cog"></i> Settings</h3>
        <div class="settings">
            <div class="switch" id="music" style="margin-top: 50px;"><span><i class="fas fa-music"></i> Music</span></div>
            <div class="switch" id="changeTheme"><span class='changeTheme'><i class="fas fa-adjust"></i> Light theme</span></div>
        </div>
        <div class="option toggleSettings"><i class="fas fa-undo"></i> Back</div>
    </container>

    <!-- GAME -->
    <container class="game box disabled">
        <!-- CATEGORY -->
        <container class="category hidden" id='whole-category'> 
            <h1>Category <i class="fas fa-times"></i></h1> 
            <img src="img/choose-image.png" alt=""> 
            <div class="switch food" id="category"><i class="fas fa-utensils"></i> Food</div>
            <div class="switch animals" id="category"><i class="fas fa-paw"></i> Animals</div>
            <div class="switch tools" id="category"><i class="fas fa-tools"></i> Tools</div>
            <div class="switch characters" id="category"><i class="fas fa-user-friends"></i> Characters</div>
            <div class="switch films" id="category"><i class="fas fa-video"></i> Films</div>
            <div class="switch plants" id="category"><i class="fas fa-seedling"></i> Plants</div>
            <i class="fas fa-check"></i>
        </container>
        
        <!-- GAME MODE -->
        <container class="game-mode">
            <h1>Choose your game mod</h1>
            <div class="options">
            <div class="game-mode-option option" id='single'><i class="fas fa-user-alt"></i> Singleplayer</div>
            <div class="game-mode-option option" id='multi'><i class="fas fa-users"></i> Mulitiplayer</div>
            <div style="clear:both;"></div>
            </div>
        </container>

        <!-- MULTIPLAYER -->
        <container class='Multiplayer_newgame box disabled'>
            <center>
                <h1 class='about-header'>Multiplayer</h1>
            </center>
            <div class="main-option option toggleCreateGame"><i class="fas fa-plus"></i> New</div>
            <div class="main-option option toggleJoinGame"><i class="fas fa-sign-in-alt"></i> Join</div>
        </container>

        <!-- SINGLEPLAYER -->
        <container class='Singleplayer_newgame box disabled'>
            <div class='game-fullbox'>
                <div class='game-left'>
                    <center>
                        <h1 class='about-header'>Singleplayer</h1>
                    </center>
                    <div class="main-option option toggleCreateGame"><i class="fas fa-play-circle"></i> Start</div>
                    <div class="main-option option toggleGameSettings" onclick='toggleGameSettings("on")'><i class="fas fa-cog"></i> Settings</div>
                    <div class="main-option option toggleCreateGame"><i class="fas fa-undo"></i> Back</div>
                </div>

                <div class='game-right'>
                    <h1 class='about-header'>Settings</h1>
                        
                    <div class='settings-box'>
                        <!-- tutaj ustawienia -->
                        Your game mode: <i style='color:gray;font-weight:bolder;' class='selected-gamemode'>Singleplayer</i>
                    <br/><br/><br/>
                        <span class='settings-title'>Automatic</span>
                        <hr/>
                        <br/>
                        <div class='settings-difficulty'>
                            <div class='btn-difficulty Easy'>Easy</div>
                            <div class='btn-difficulty Normal'>Normal</div>
                            <div class='btn-difficulty Hard'>Hard</div>
                        </div>
                    <br/><br/><br/>
                        <span class='settings-title'>Manual</span>
                        <hr/>
                        <br/>
                        <span class='settings-subtitle'>
                            Time to set password <sub>(10-60s)</sub>: <input type='number' class='settings-option timeToSetPass' min='10' max='60' disabled/>
                        <br/>
                        <br/>
                            Time to guess letter <sub>(5-30s)</sub>: <input type='number' class='settings-option timeToGuessLetter' min='5' max='30'/>
                        <br/>
                        <br/>
                            Round time <sub>(5-20m)</sub>: <input type='number' class='settings-option timeToGuessPass' min='5' max='20'/>
                        <br/>
                        <br/>
                            Round time <sub>(1-30)</sub>: <input type='number' class='settings-option rounds' min='1' max='30'/>
                        <br/>
                        <br/>
                            Maximum words length: <sub>(3-30)</sub> <input type='number' class='settings-option maxWordsLength' min='3' max='30'> </input>
                        <br/>
                        <br/>
                            Type of game:   <select class='settings-option gameType' disabled>
                                                <option class='option_words-random' value='only random words'>Only random words</option>
                                                <option class='option_words-set' value='only setted words'>Only setted words</option>
                                                <option class='option_words-mixed' value='mixed'>Mixed</option>
                                            </select>
                        <br/>
                        <br/>  
                            Words language:   <select class='settings-option gameLanguage' enabled>
                                                <option class='option_words-lang-pl' value='Polish' default>Polish</option>
                                                <option class='option_words-lang-en' value='English'>English</option>
                                                <option class='option_words-lang-de' value='Germany'>Germany</option>
                                                <option class='option_words-lang-mixed' value='Germany'>Mixed</option>
                                            </select>
                        <br/>
                        <br/>
                            Number of categories: <input type="number" class='settings-option selectedCategories' disabled/>
                        <br/>
                        <br/>
                            
                        </span>
                    </div>
                </div>

            </div>
        </container>

        <!-- NEW ROOM -->
        <container class="newroom disabled">
            <h1>Add new</h1>
            <h2>Room name</h2>
            <h2>Password</h2>
            <div class="main-option option toggleCreateGame"><i class="fas fa-undo"></i> Back</div>
        </container>
    </container>

    <!-- ABOUT -->
    <container class='about box disabled'>
    
        <div class='authors-holder'>
            <center>
                <h1 class='about-header'>About us</h1>
            </center>
            <div class="authors-row">
                <div class="authors-col">
                    <img src='img/xaxee-avatar.png' class='author-avatar'>
                <br/>
                    <span class='author-name discord' value="xAxee#1337">xAxee#1337</span>
                <br/>
                <br/>
                    <span class='author-description'>
                        <a href = "https://github.com/xAxee" class='a_link' target="_blank">GitHub</a>

                    </span>
                </div>
                <div class="authors-col">
                    <img src='img/owr-avatar.png' class='author-avatar'>
                    <br/>
                        <span class='author-name discord'>owr#6062</span>
                    <br/>
                    <br/>
                        <span class='author-description'>
                            <a href = "https://github.com/owerrr" class='a_link' target="_blank">GitHub</a>
                        </span>
                </div>
                <div class="authors-col">
                    <img src='img/wojtas-avatar.png' class='author-avatar'>
                    <br/>
                        <span class='author-name discord'>Masło#2844</span>
                    <br/>
                    <br/>
                        <span class='author-description'>
                            no elo
                        </span>
                </div>
            </div>
            <br/>
            <div class="option toggleAbout"><i class="fas fa-undo"></i> Back</div>
        </div>
    </container>


    <script src="js/game.js"></script>
    <script src="js/switch.js"></script>
    <script src="js/cookie.js"></script>
    <script src="js/index.js"></script>
    
    
    <script src="https://kit.fontawesome.com/293893692c.js" crossorigin="anonymous"></script>

</body>
</html>