* {
	margin: 0;
	padding: 0;
    user-select:none;
}
body {
	background-color: #1a1a1a;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
} 
.light-theme {
	background-color: #a0a0a0 !important;
}