.switch {
	width: 125px;
	text-align: center;
	margin: 20px auto 20px auto;
	cursor: pointer;
}
.switch {
	border-bottom: 1px solid rgb(39, 158, 39);
	transition-property: border-bottom;
	transition-duration: 0.2s;
	transition-timing-function: ease-in;
}
.switch-disable {
	border-bottom: 1px solid rgb(158, 47, 39);
}
