.switch {
	width: 125px;
	text-align: center;
	margin: auto;
	cursor: pointer;
}
.switch {
	border-bottom: 1px solid rgb(39, 158, 39);
	transition: 0.2s all ease-in-out;
}
.switch-disable {
	border-bottom: 1px solid rgb(158, 47, 39);
}
